// ===========================================================================
//  Form styles
// ===========================================================================

form
    padding: 1rem

.form-group
    display: block
    margin: $margin-block


input
    appearance: none
    border-radius: $border-radius
    border: 1px solid $border-color
    display: inline-block
    padding: 0.5rem
    width: 100%

label
    display: inline-block
    margin: 0 0 0.5em

