// ===========================================================================
//  Base Layout styles
// ===========================================================================

body
    font-family: sans-serif
    min-height: 100%


.container
    max-width: $bp-desktop
