
////////////////////////////////////////////////////////////
//    ________________.-----------.___________________    //
//   |                |   //^\\   |               \   |   //
//   |   T I T L E    |  < CSS >  |   B  E  L  T   )  |   //
//   |________________|   \\.//   |_______________/___|   //
//                    `-----------'                       //
//   Zot, Brandtley                                       //
////////////////////////////////////////////////////////////


arrowUp()
  border-top-color: transparent
  border-right-color: transparent
  // border-bottom-color: transparent
  border-left-color: transparent

arrowRight()
  border-top-color: transparent
  border-right-color: transparent
  border-bottom-color: transparent
  // border-left-color: transparent

arrowDown()
  // border-top-color: transparent
  border-right-color: transparent
  border-bottom-color: transparent
  border-left-color: transparent

arrowLeft()
  border-top-color: transparent
  // border-right-color: transparent
  border-bottom-color: transparent
  border-left-color: transparent


arrowWidth($size)
  border-left-width: $size
  border-right-width: $size

arrowHeight($size)
  border-top-width: $size
  border-bottom-width: $size
