    <footer class="<?php echo (isset($footerClass) ? $footerClass : ''); ?>">
        &copy; <?php echo date('Y'); ?> -- Brandtley McMinn
        <span class="mobile-break"></span>
        <span classs="mobile-hidden">|</span> <a href="/page/privacy">Privacy Policy</a>
        | <a href="/page/terms">Terms of Use</a>
    </footer>
