<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="/css/main.css">
    <style type="text/css">
        form {
            position: absolute;
            width: 100%;
            max-width: 300px;
            top: 50%;
            left: 50%;
            margin: auto;
            /*padding: 1rem 0.75rem;*/
            transform: translate(-50%,-50%);
            border: 1px solid #e3e3e3;
            box-shadow: 0 0 0 100vw rgba(0,0,0,.2);
        }
    </style>
</head>
<body>

    <form action="/login/user">

        <div class="form-group">
            <h1>Client Login</h1>
        </div>

        <div class="form-group">
            <label></label>
            <input autocomplete="email" type="email" placeholder="email">
        </div>

        <div class="form-group">
            <label></label>
            <input autocomplete="current-password" type="password" placeholder="password">
        </div>

        <div class="form-group">
            <button type="submit">Login</button>
            <a href="/password/reset">Forgot password?</a>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
