/**
 * © 2015 Brandtley McMinn <labs@gbox.name>
 */

/* line 201 : D:\github\client-portfolio\_resources\stylus\main.styl */

/* line 1 : d:\github\client-portfolio\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 286 : d:\github\client-portfolio\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 3 : D:\github\client-portfolio\_resources\stylus\_variables.styl */

/* line 21 : D:\github\client-portfolio\_resources\stylus\_variables.styl */

/* line 1 : D:\github\client-portfolio\_resources\stylus\_colors.styl */

/* line 11 : D:\github\client-portfolio\_resources\stylus\_colors.styl */

/* line 6 : D:\github\client-portfolio\_resources\stylus\_typography.styl */
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: local('FontAwesome'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2") format('woff2');
}
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600");

/* line 31 : D:\github\client-portfolio\_resources\stylus\_typography.styl */
.text-center {
  text-align: center;
}

/* line 34 : D:\github\client-portfolio\_resources\stylus\_typography.styl */
.text-left {
  text-align: left;
}

/* line 37 : D:\github\client-portfolio\_resources\stylus\_typography.styl */
.text-right {
  text-align: right;
}

/* line 38 : D:\github\client-portfolio\_resources\stylus\_typography.styl */

/* line 1 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/* line 9 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 18 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
body {
  margin: 0;
}

/* line 31 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 51 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 63 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 72 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
[hidden],
template {
  display: none;
}

/* line 85 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
a {
  background-color: transparent;
}

/* line 87 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 98 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 105 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
b,
strong {
  font-weight: bold;
}

/* line 113 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
dfn {
  font-style: italic;
}

/* line 121 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 129 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
mark {
  background: #ff0;
  color: #363636;
}

/* line 137 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
small {
  font-size: 80%;
}

/* line 144 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 151 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
sup {
  top: -0.5em;
}

/* line 154 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
sub {
  bottom: -0.25em;
}

/* line 164 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
img {
  border: 0;
  box-sizing: content-box;
}

/* line 172 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 182 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
figure {
  margin: 1em 40px;
}

/* line 189 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 197 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
pre {
  overflow: auto;
}

/* line 204 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 226 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 239 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
button {
  overflow: visible;
}

/* line 249 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
button,
select {
  text-transform: none;
}

/* line 261 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 272 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 280 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 290 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
input {
  line-height: normal;
}

/* line 301 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 312 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 321 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 331 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 339 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
fieldset {
  border: 1px solid #c3c3c3;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 349 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
legend {
  border: 0;
  padding: 0;
}

/* line 357 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
textarea {
  overflow: auto;
}

/* line 365 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
optgroup {
  font-weight: bold;
}

/* line 375 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 379 : D:\github\client-portfolio\_resources\stylus\_normalize.styl */
td,
th {
  padding: 0;
}

/* line 8 : D:\github\client-portfolio\_resources\stylus\main.styl */
html {
  background-color: #fff;
  color: #363636;
}

/* line 12 : D:\github\client-portfolio\_resources\stylus\main.styl */
html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* line 18 : D:\github\client-portfolio\_resources\stylus\main.styl */

/* line 19 : D:\github\client-portfolio\_resources\stylus\main.styl */
*:before,
*:after {
  box-sizing: inherit;
}

/* line 23 : D:\github\client-portfolio\_resources\stylus\main.styl */
body {
  margin: 0;
  padding: 0 1rem;
  padding-bottom: 6.5rem;
  overflow-y: scroll;
}

/* line 30 : D:\github\client-portfolio\_resources\stylus\main.styl */

/* line 31 : D:\github\client-portfolio\_resources\stylus\main.styl */
.grid li {
  box-sizing: border-box;
}

/* line 35 : D:\github\client-portfolio\_resources\stylus\main.styl */
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* line 41 : D:\github\client-portfolio\_resources\stylus\main.styl */
hr {
  border: 0;
  height: 3px;
  background-color: #e3e3e3;
}

/* line 52 : D:\github\client-portfolio\_resources\stylus\main.styl */
.button {
  display: inline-block;
  padding: 0 1rem;
  line-height: 2.5rem;
  border-radius: 3px;
  text-decoration: none;
}

/* line 59 : D:\github\client-portfolio\_resources\stylus\main.styl */
.button.nav-link {
  background-color: #e3e3e3;
  color: #363636;
}

/* line 63 : D:\github\client-portfolio\_resources\stylus\main.styl */
.button.nav-link:visited {
  color: #363636;
}

/* line 67 : D:\github\client-portfolio\_resources\stylus\main.styl */
.button.download {
  background-color: #6c6;
  color: #fff;
}

/* line 72 : D:\github\client-portfolio\_resources\stylus\main.styl */
.button.download::before {
  font-family: 'FontAwesome';
  font-size: 1.1rem;
  padding-right: 0.5rem;
  line-height: 0;
  vertical-align: middle;
  position: relative;
  top: -2px;
/*content: "\f019"*/
  content: "\f0ed";
}

/* line 86 : D:\github\client-portfolio\_resources\stylus\main.styl */
.inline-list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

/* line 92 : D:\github\client-portfolio\_resources\stylus\main.styl */
.inline-list li {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

/* line 100 : D:\github\client-portfolio\_resources\stylus\main.styl */
.grid {
  margin: 1rem 0;
  padding: 0;
}

/* line 105 : D:\github\client-portfolio\_resources\stylus\main.styl */
blockquote {
  background-color: #e3e3e3;
  padding: 0.25rem 1rem;
}

/* line 111 : D:\github\client-portfolio\_resources\stylus\main.styl */
.page-nav ul {
  margin: 0;
}

/* line 117 : D:\github\client-portfolio\_resources\stylus\main.styl */
.project-thumbnails {
  font-size: 0;
  text-align: center;
}

/* line 122 : D:\github\client-portfolio\_resources\stylus\main.styl */
[data-image] {
  padding: 0.5rem;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

/* line 129 : D:\github\client-portfolio\_resources\stylus\main.styl */
[data-image] img {
  object-fit: fill;
  object-position: center;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 146 : D:\github\client-portfolio\_resources\stylus\main.styl */
.error {
  color: #f26a85;
  background-color: #fce1e7;
  border: 1px solid #f26a85;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  list-style-position: inside;
}

/* line 156 : D:\github\client-portfolio\_resources\stylus\main.styl */
@media (min-width: 480px) {

/* line 158 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image-portrait] {
    width: 50%;
  }
}

/* line 163 : D:\github\client-portfolio\_resources\stylus\main.styl */
@media (min-width: 575px) {

/* line 165 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image] {
    width: 33.33333%;
    height: 230px;
    margin-bottom: 0.5rem;
  }

/* line 170 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image-landscape] {
    width: 66.66666%;
  }
}

/* line 175 : D:\github\client-portfolio\_resources\stylus\main.styl */
@media (min-width: 650px) {

/* line 176 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image] {
    height: 265px;
  }
}

/* line 181 : D:\github\client-portfolio\_resources\stylus\main.styl */
@media (min-width: 750px) {

/* line 182 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image] {
    height: 300px;
  }
}

/* line 187 : D:\github\client-portfolio\_resources\stylus\main.styl */
@media (min-width: 810px) {

/* line 188 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image] {
    height: 320px;
  }
}

/* line 193 : D:\github\client-portfolio\_resources\stylus\main.styl */
@media (min-width: 860px) {

/* line 195 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image] {
    width: 25%;
    height: 260px;
  }

/* line 200 : D:\github\client-portfolio\_resources\stylus\main.styl */
  [data-image-landscape] {
    width: 50%;
  }
}
