
/* line 297 : D:\github\client-portfolio\resources\css\main.styl */

/* line 1 : D:\github\client-portfolio\node_modules\stylus\lib\functions\index.styl */

/* line 1 : D:\github\client-portfolio\resources\css\main.styl */
/**
 * © 2015 Brandtley McMinn <labs@gbox.name>
 */

/* line 5 : D:\github\client-portfolio\resources\css\main.styl */
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: local('FontAwesome'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2") format('woff2');
}

/* line 6 : D:\github\client-portfolio\resources\css\main.styl */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600");

/* line 13 : D:\github\client-portfolio\resources\css\main.styl */
.required {
  color: #f00;
}

/* line 17 : D:\github\client-portfolio\resources\css\main.styl */
.user-form {
  max-width: 440px;
  margin: auto;
}

/* line 24 : D:\github\client-portfolio\resources\css\main.styl */

/* line 25 : D:\github\client-portfolio\resources\css\main.styl */
.navbar .icon .fa {
  font-size: 100%;
}

/* line 28 : D:\github\client-portfolio\resources\css\main.styl */
.navbar .icon .fa :before {
  text-decoration: none;
}
