
transform-style($arg=preserve-3d)
  -webkit-transform-style: $arg
  -moz-transform-style: $arg
  transform-style: $arg


transform($args)
  -webkit-transform: $args
  -moz-transform: $args
  transform: $args


filter($arg)
  -webkit-filter: $arg
  -moz-filter: $arg
  filter: $arg