
//
// Typographic Imports
//

@font-face {
  font-family: 'FontAwesome'
  font-style: normal
  font-weight: 400
  src: local('FontAwesome'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2) format('woff2')
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600')



//
// Typographic Variables
//

$sans-serif = 'Open Sans', sans-serif
$serif      = serif
$icon-font  = 'FontAwesome'



//
// Typographic Classes
//

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right
