
// Column widths
$one-third      = round(100% / 3, 5)
$two-thirds     = $one-third * 2

$one-fourth     = 25%
$one-half       = 50%
$three-fourths  = $one-fourth * 3

$one-fifth      = 20%
$two-fifths     = $one-fifth * 2
$three-fifths   = $one-fifth * 3
$four-fifths    = $one-fifth * 4


// spacers
$gutter = 0.5rem


// Visuals
$radius = 3px