@import "main"

html
  background-color: $gray-light

form
  border: 1px solid $gray
  padding: 0 1rem
  background-color: $white
  border-radius: $radius
  width: 100%
  max-width 320px
  margin: 2rem auto
  font-size: 0

  > *
    font-size: initial


  h1, h2, h3, h4, h5, h6
    margin: 1rem 0
    text-align: center

  label
    box-sizing: border-box
    border: 1px solid $gray-light
    display: inline-block
    padding: 0.5rem
    line-height: 1.5rem
    text-transform: capitalize
    border-radius: $radius $radius 0 0
    width: 100%

    &:last-of-type
      border-radius: 0 0 $radius $radius

    &.half
      width: 50%

    &.third
      width: $one-third

    &.fourth
      width: $one-fourth

    &.fifth
      width: $one-fifth

    &.two.fifth
      width: $two-fifths

    &.half+.half,
    &.third+.third,
    &.fourth+.fourth,
    &.fifth+.fifth
      border-left: 0

  input
    display: block
    width: 100%
    padding: 0.2rem 0.5rem
    margin-top: 0.5rem
    border: 1px solid $gray-light

  button
    display: block
    border: 1px solid
    border-color: $gray
    width: 100%
    border-radius: $radius
    padding: 0.5rem
    margin: 1rem 0

  label+label
    border-top: 0
    border-radius: 0

