
@import _variables
@import _colors
@import _typography
@import _normalize


html
  background-color: $white
  color: $black

  &,
  & a
    -webkit-font-smoothing: antialiased !important
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)


*
  &:before, &:after
    box-sizing: inherit


body
  margin: 0
  padding: 0 1rem
  padding-bottom: 6.5rem
  overflow-y: scroll


.grid
  li
    box-sizing: border-box


.container
  width: 100%
  max-width: 800px
  margin: 0 auto


hr
  border: 0
  height: 3px
  background-color: $gray-light



//
// Buttons styles
//

.button
  display: inline-block
  padding: 0 1rem
  line-height: 2.5rem
  border-radius: 3px
  text-decoration: none

  &.nav-link
    background-color: $gray-light
    color: $black

  &.nav-link:visited
    color: $black


  &.download
    background-color: #6c6
    color: $white


  &.download::before
    font-family: $icon-font
    font-size: 1.1rem
    padding-right: $gutter
    line-height: 0
    vertical-align: middle
    position: relative
    top: -2px
    /*content: "\f019"*/
    content: "\f0ed"




.inline-list
  margin: 1rem 0
  padding: 0
  list-style: none
  overflow: hidden

  li
    display: inline-block
    position: relative
    float: left
    margin-right: $gutter


.grid
  margin: 1rem 0
  padding: 0


blockquote {
  background-color: $gray-light
  padding: 0.25rem 1rem
}


.page-nav ul {
  margin: 0
}



.project-thumbnails {
  font-size: 0
  text-align: center
}

[data-image] {
  padding: $gutter
  width: 100%
  overflow: hidden
  display: inline-block
}

[data-image] img {
  object-fit: fill
  object-position: center
  display: block
  padding: 0
  margin: 0
  width: 100%
}



// MOBILE LANDSCAPE
@media (min-width: 480px)

  [data-image-portrait]
    width: 50%


// TABLET
@media (min-width: 575px)

  [data-image]
    width: $one-third
    height: 230px
    margin-bottom: $gutter

  [data-image-landscape]
    width: $two-thirds


//
@media (min-width: 650px)
  [data-image]
    height: 265px


//
@media (min-width: 750px)
  [data-image]
    height: 300px


//
@media (min-width: 810px)
  [data-image]
    height: 320px


//
@media (min-width: 860px)

  [data-image]
    width: 25%
    height: 260px


  [data-image-landscape]
    width: 50%





