/**
 * © 2015 Brandtley McMinn <labs@gbox.name>
 */

@font-face{font-family:'FontAwesome';font-style:normal;font-weight:400;src:local('FontAwesome'),url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2") format('woff2')}
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600");



// FORM STYLES
// ------------------------------------------------------------------------

.required
    color: red


.user-form
    max-width: 440px
    margin: auto




.navbar
    .icon .fa
        font-size: 100%

    .icon .fa :before
        text-decoration: none
