/**
 * © 2015 Brandtley McMinn <labs@gbox.name>
 */
@charset "UTF-8"


// IMPORT ANIMATE CSS
$shake = true

@import "_animate.styl"




body
    min-height: 100vh



// FORM STYLES
// ------------------------------------------------------------------------

.required
    color: red


.user-form
    max-width: 440px
    margin: auto




.navbar
    .icon .fa
        font-size: 100%

    .icon .fa :before
        text-decoration: none
