
//
// Color variables
//

$white      = #fff
$off-white  = #b2b2b2

$gray       = #949490
$gray-dark  = #303030

$black      = #212121

$red        = #8d1818



//
// Color aliases
//

$text-color = $black
$background-color = $white


$link-color = $black
$link-hover-color = $red



//
// Dimensional variables
//

$max-width    = 960px
