{% extends "page.twig" %}


{% block body_classes %}{{ parent() }} about-page{% endblock %}


{% block page_content %}

  <div class="container center page-content">

    <div class="col">


    </div>

  </div>

{% endblock %}


{% block page_styles %}
  {{ parent() }}
  {{ "/css/about.css"|stylesheet_tag }}
{% endblock %}
