<!DOCTYPE html>
<html lang="{{ labels.lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="nofollow" />
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="{{url /resources/login.css }}">
</head>
<body>
