
{% extends "page.twig" %}


{% block page_title %}
  {{ page.title|escape('html')|raw }}
{% endblock page_title %}


{% block page_content %}

  <div class="container center page-content">

    <div class="col text-center">
      whoops... {{ page.code }}
    </div>

  </div>

{% endblock %}
