
// =============================================
// VARIABLES
// =============================================

// NOTE: `unless` prioritizes the _variables.styl value when available

$button-icon-spacing    = 0.4rem
$border-radius          = 3px unless $border-radius
$DARKEN_COLORS          = 20% unless $DARKEN_COLORS

$component-padding  = .5rem .65rem

$base-font-size     = 1rem

$white = #fff unless $white



// TODO: test :hover bug on buttons for touch devices



// =============================================
// BUTTON STYLES
// =============================================

.alert
    border: 1px solid
    margin: 0.5rem 0
    padding: 0.64rem 1rem
    border-radius: $border-radius


// MIXIN: _btn
//  Generates a set of button styles using the provided defaults
// ------------------------------
_alert($NAME, $COLOR, $TEXT_OVERRIDE=$white)

    .alert-{$NAME}
        background-color: lighten($COLOR, 85%)
        border-color: lighten($COLOR, 25%)
        color: darken($COLOR, $DARKEN_COLORS)


// =============================================
// BUTTON STATE STYLES
// =============================================

_alert(primary, $primary-color)
_alert(secondary, $secondary-color)
_alert(info, $info-color)
_alert(success, $success-color)
// _alert(warning, $warning-color, $black)
_alert(danger, $danger-color)
