    <footer class="<?php echo (isset($footerClass) ? $footerClass : ''); ?>">
        &copy; <?php echo date('Y'); ?> &ndash; Brandtley McMinn, All Rights Reserved.<br>
        <a href="/page/privacy">Privacy Policy</a>
        | <a href="/page/terms">Terms of Use</a>
    </footer>
