{% extends 'layout.twig' %}



{% block navbar %}
    <a href="{{ routes.user_logout }}">Logout</a>
{% endblock %}



{% block content %}

    <h1 class="h1">Admin Dashboard</h1>



    sfefkljselfjselkfjseklj

{% endblock %}



{% block scripts %}
    {{ parent() }}
{% endblock %}
