<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Client Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="manifest" href="site.webmanifest">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <style>
        .demo {
            width: 100px;
            height: 100px;
            margin: 0.5rem;
            background-color: #e3e3e3;
        }
        .red { background-color: #f00; }
        .green { background-color: #0f0; }
        .blue { background-color: #00f; }
    </style>
</head>
<body>

    <div id="app">

        <div topbar>

        </div>

    </div>

    <script src="/js/vue.js"></script>
    <script src="/js/vuex.js"></script>
    <script src="/js/vue-router.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
