<?php require('_head.twig'); ?>

    <h1><?php echo $errCode; ?></h1>

    <p>
        <?php echo isset($errMsg) ? $errMsg : ''; ?>
        <a href="<?php echo ROUTE_GET_HOMEPAGE; ?>">Go back home</a>
    </p>

<?php
    $footerClass = 'login-footer';
    require('_footer.twig');
?>

<?php require('_foot.twig'); ?>
