<?php require('_head.twig'); ?>


    <div class="user-form l-center content card grid">
        <h1>Reset Password</h1>

        <form id="password-reset-form" user-form class="grid" action="<?php echo ROUTE_POST_RESET_PASSWORD; ?>" method="post" successHandler="resetPasswordSuccessHandler" errorHandler="formErrorHandler">

            <div class="form-group">
                <label for="useremail">Email address</label>
                <input type="email" id="useremail" aria-describedby="emailHelp" minlength="5" autocomplete="email" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted visually-hidden">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <button user-form-submit class="btn-primary btn-block" type="submit">Submit</button>
            </div>

            <div>
                <a href="<?php echo ROUTE_GET_LOGIN; ?>">Login</a>
            </div>
        </form>
    </div>


    <?php
        $footerClass = 'login-footer';
        require('_footer.twig');
    ?>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
