
/* line 290 : D:\github\client-portfolio\_assets\stylus\main.styl */

/* line 1 : D:\github\client-portfolio\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 286 : D:\github\client-portfolio\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 6 : D:\github\client-portfolio\_assets\stylus\_variables.styl */

/* line 35 : D:\github\client-portfolio\_assets\stylus\_variables.styl */

/* line 21 : D:\github\client-portfolio\_assets\stylus\title-belt\main.styl */

/* line 21 : D:\github\client-portfolio\_assets\stylus\title-belt\main.styl */

/* line 12 : D:\github\client-portfolio\_assets\stylus\title-belt\_colors.styl */

/* line 15 : D:\github\client-portfolio\_assets\stylus\title-belt\_colors.styl */

/* line 1 : D:\github\client-portfolio\_assets\stylus\title-belt\_mixins.styl */

/* line 38 : D:\github\client-portfolio\_assets\stylus\title-belt\_mixins.styl */

/* line 5 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */

/* line 6 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/* line 14 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
body {
  margin: 0;
}

/* line 19 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 33 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 51 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 61 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 68 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
[hidden],
template {
  display: none;
}

/* line 78 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
a {
  background-color: transparent;
}

/* line 84 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 94 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 99 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
b,
strong {
  font-weight: bold;
}

/* line 105 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
dfn {
  font-style: italic;
}

/* line 111 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 117 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
mark {
  background: #ff0;
  color: #000;
}

/* line 123 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
small {
  font-size: 80%;
}

/* line 128 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 136 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
sup {
  top: -0.5em;
}

/* line 140 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
sub {
  bottom: -0.25em;
}

/* line 149 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
img {
  border: 0;
}

/* line 154 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 163 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
figure {
  margin: 1em 40px;
}

/* line 168 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 174 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
pre {
  overflow: auto;
}

/* line 179 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 198 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 209 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
button {
  overflow: visible;
}

/* line 217 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
button,
select {
  text-transform: none;
}

/* line 227 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 236 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 242 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 250 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
input {
  line-height: normal;
}

/* line 259 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 268 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 275 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 283 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 289 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 297 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
legend {
  border: 0;
  padding: 0;
}

/* line 303 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
textarea {
  overflow: auto;
}

/* line 309 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
optgroup {
  font-weight: bold;
}

/* line 318 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 323 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */
td,
th {
  padding: 0;
}

/* line 325 : D:\github\client-portfolio\_assets\stylus\title-belt\_normalize.styl */

/* line 13 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */

/* line 17 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
html {
  line-height: 1.5rem;
}

/* line 21 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
code {
  padding: 0.25rem;
}

/* line 25 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
pre {
  tab-size: 2;
}

/* line 28 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
pre code {
  background-color: transparent;
  padding: 0;
}

/* line 34 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
h1,
.h1 {
  line-height: 2.5rem;
}

/* line 36 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
h2,
.h2 {
  line-height: 2rem;
}

/* line 38 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
h3,
.h3 {
  line-height: 1.8rem;
}

/* line 40 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
h4,
.h4 {
  line-height: 1.5rem;
}

/* line 42 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
h5,
.h5,
h6,
.h6 {
  line-height: 1.3rem;
}

/* line 51 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
.text-left {
  text-align: left;
}

/* line 54 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
.text-center {
  text-align: center;
}

/* line 57 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */
.text-right {
  text-align: right;
}

/* line 58 : D:\github\client-portfolio\_assets\stylus\title-belt\_typography.styl */

/* line 17 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */

/* line 50 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.hr,
.spacer {
  margin: 2rem 0;
}

/* line 55 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.hr {
  height: 0;
  border-bottom: 2px solid $graylight;
}

/* line 64 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.container {
  padding: 1rem;
}

/* line 68 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.container,
.row {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 0;
  line-height: 0;
}

/* line 76 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.container.max,
.row.max {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* line 81 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.container.center,
.row.center {
  text-align: center;
}

/* line 85 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
  vertical-align: top;
  font-size: initial;
  line-height: 1.5rem;
  text-align: initial;
}

/* line 96 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.vcenter {
  vertical-align: center;
}

/* line 99 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.vbaseline {
  vertical-align: baseline;
}

/* line 103 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.whole {
  width: 100%;
}

/* line 108 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.half {
  width: 50%;
}

/* line 113 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.third {
  width: 33.33333333%;
}

/* line 116 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.two-third {
  width: 66.66666666%;
}

/* line 121 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.fourth {
  width: 25%;
}

/* line 124 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.three-fourth {
  width: 75%;
}

/* line 129 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.fifth {
  width: 20%;
}

/* line 132 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.two-fifth {
  width: 40%;
}

/* line 135 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.three-fifth {
  width: 60%;
}

/* line 138 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.four-fifth {
  width: 80%;
}

/* line 143 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.sixth {
  width: 16.66666667%;
}

/* line 146 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.five-sixth {
  width: 83.33333335%;
}

/* line 151 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.seventh {
  width: 14.28571429%;
}

/* line 154 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.two-seventh {
  width: 28.57142858%;
}

/* line 157 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.three-seventh {
  width: 42.85714287%;
}

/* line 160 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.four-seventh {
  width: 57.14285716%;
}

/* line 163 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.five-seventh {
  width: 71.42857145%;
}

/* line 166 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.six-seventh {
  width: 85.71428574%;
}

/* line 171 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.eighth {
  width: 12.5%;
}

/* line 174 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.three-eighth {
  width: 37.5%;
}

/* line 177 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.five-eighth {
  width: 62.5%;
}

/* line 180 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.seven-eighth {
  width: 87.5%;
}

/* line 185 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.tenth {
  width: 10%;
}

/* line 188 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.three-tenth {
  width: 30%;
}

/* line 191 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.four-tenth {
  width: 40%;
}

/* line 194 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.sixth-tenth {
  width: 60%;
}

/* line 197 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.seven-tenth {
  width: 70%;
}

/* line 200 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
.col.nine-tenth {
  width: 90%;
}
@media all and (min-width: 0) {

/* line 211 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */

/* line 212 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="whole"] {
    width: 100%;
  }

/* line 215 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="half"] {
    width: 50%;
  }

/* line 218 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="third"] {
    width: 33.33333333%;
  }

/* line 221 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="two-third"] {
    width: 66.66666666%;
  }

/* line 224 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="fourth"] {
    width: 25%;
  }

/* line 227 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="three-fourth"] {
    width: 75%;
  }

/* line 230 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="fifth"] {
    width: 20%;
  }

/* line 233 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="two-fifth"] {
    width: 40%;
  }

/* line 236 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="three-fifth"] {
    width: 60%;
  }

/* line 239 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="four-fifth"] {
    width: 80%;
  }

/* line 242 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="sixth"] {
    width: 16.66666667%;
  }

/* line 245 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="five-sixth"] {
    width: 83.33333335%;
  }

/* line 248 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="seventh"] {
    width: 14.28571429%;
  }

/* line 251 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="two-seventh"] {
    width: 28.57142858%;
  }

/* line 254 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="three-seventh"] {
    width: 42.85714287%;
  }

/* line 257 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="four-seventh"] {
    width: 57.14285716%;
  }

/* line 260 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="five-seventh"] {
    width: 71.42857145%;
  }

/* line 263 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="six-seventh"] {
    width: 85.71428574%;
  }

/* line 266 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="eighth"] {
    width: 12.5%;
  }

/* line 269 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="three-eighth"] {
    width: 37.5%;
  }

/* line 272 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="five-eighth"] {
    width: 62.5%;
  }

/* line 275 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="seven-eighth"] {
    width: 87.5%;
  }

/* line 278 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="tenth"] {
    width: 10%;
  }

/* line 281 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="three-tenth"] {
    width: 30%;
  }

/* line 284 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="four-tenth"] {
    width: 40%;
  }

/* line 287 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="sixth-tenth"] {
    width: 60%;
  }

/* line 290 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="seven-tenth"] {
    width: 70%;
  }

/* line 293 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[mobile="nine-tenth"] {
    width: 90%;
  }
}
@media all and (min-width: 480px) {

/* line 211 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */

/* line 212 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="whole"] {
    width: 100%;
  }

/* line 215 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="half"] {
    width: 50%;
  }

/* line 218 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="third"] {
    width: 33.33333333%;
  }

/* line 221 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="two-third"] {
    width: 66.66666666%;
  }

/* line 224 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="fourth"] {
    width: 25%;
  }

/* line 227 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="three-fourth"] {
    width: 75%;
  }

/* line 230 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="fifth"] {
    width: 20%;
  }

/* line 233 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="two-fifth"] {
    width: 40%;
  }

/* line 236 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="three-fifth"] {
    width: 60%;
  }

/* line 239 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="four-fifth"] {
    width: 80%;
  }

/* line 242 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="sixth"] {
    width: 16.66666667%;
  }

/* line 245 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="five-sixth"] {
    width: 83.33333335%;
  }

/* line 248 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="seventh"] {
    width: 14.28571429%;
  }

/* line 251 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="two-seventh"] {
    width: 28.57142858%;
  }

/* line 254 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="three-seventh"] {
    width: 42.85714287%;
  }

/* line 257 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="four-seventh"] {
    width: 57.14285716%;
  }

/* line 260 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="five-seventh"] {
    width: 71.42857145%;
  }

/* line 263 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="six-seventh"] {
    width: 85.71428574%;
  }

/* line 266 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="eighth"] {
    width: 12.5%;
  }

/* line 269 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="three-eighth"] {
    width: 37.5%;
  }

/* line 272 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="five-eighth"] {
    width: 62.5%;
  }

/* line 275 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="seven-eighth"] {
    width: 87.5%;
  }

/* line 278 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="tenth"] {
    width: 10%;
  }

/* line 281 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="three-tenth"] {
    width: 30%;
  }

/* line 284 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="four-tenth"] {
    width: 40%;
  }

/* line 287 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="sixth-tenth"] {
    width: 60%;
  }

/* line 290 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="seven-tenth"] {
    width: 70%;
  }

/* line 293 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[tablet="nine-tenth"] {
    width: 90%;
  }
}
@media all and (min-width: 1000px) {

/* line 211 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */

/* line 212 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="whole"] {
    width: 100%;
  }

/* line 215 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="half"] {
    width: 50%;
  }

/* line 218 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="third"] {
    width: 33.33333333%;
  }

/* line 221 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="two-third"] {
    width: 66.66666666%;
  }

/* line 224 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="fourth"] {
    width: 25%;
  }

/* line 227 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="three-fourth"] {
    width: 75%;
  }

/* line 230 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="fifth"] {
    width: 20%;
  }

/* line 233 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="two-fifth"] {
    width: 40%;
  }

/* line 236 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="three-fifth"] {
    width: 60%;
  }

/* line 239 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="four-fifth"] {
    width: 80%;
  }

/* line 242 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="sixth"] {
    width: 16.66666667%;
  }

/* line 245 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="five-sixth"] {
    width: 83.33333335%;
  }

/* line 248 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="seventh"] {
    width: 14.28571429%;
  }

/* line 251 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="two-seventh"] {
    width: 28.57142858%;
  }

/* line 254 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="three-seventh"] {
    width: 42.85714287%;
  }

/* line 257 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="four-seventh"] {
    width: 57.14285716%;
  }

/* line 260 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="five-seventh"] {
    width: 71.42857145%;
  }

/* line 263 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="six-seventh"] {
    width: 85.71428574%;
  }

/* line 266 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="eighth"] {
    width: 12.5%;
  }

/* line 269 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="three-eighth"] {
    width: 37.5%;
  }

/* line 272 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="five-eighth"] {
    width: 62.5%;
  }

/* line 275 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="seven-eighth"] {
    width: 87.5%;
  }

/* line 278 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="tenth"] {
    width: 10%;
  }

/* line 281 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="three-tenth"] {
    width: 30%;
  }

/* line 284 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="four-tenth"] {
    width: 40%;
  }

/* line 287 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="sixth-tenth"] {
    width: 60%;
  }

/* line 290 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="seven-tenth"] {
    width: 70%;
  }

/* line 293 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[desktop="nine-tenth"] {
    width: 90%;
  }
}
@media all and (min-width: 1200px) {

/* line 211 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */

/* line 212 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="whole"] {
    width: 100%;
  }

/* line 215 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="half"] {
    width: 50%;
  }

/* line 218 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="third"] {
    width: 33.33333333%;
  }

/* line 221 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="two-third"] {
    width: 66.66666666%;
  }

/* line 224 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="fourth"] {
    width: 25%;
  }

/* line 227 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="three-fourth"] {
    width: 75%;
  }

/* line 230 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="fifth"] {
    width: 20%;
  }

/* line 233 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="two-fifth"] {
    width: 40%;
  }

/* line 236 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="three-fifth"] {
    width: 60%;
  }

/* line 239 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="four-fifth"] {
    width: 80%;
  }

/* line 242 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="sixth"] {
    width: 16.66666667%;
  }

/* line 245 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="five-sixth"] {
    width: 83.33333335%;
  }

/* line 248 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="seventh"] {
    width: 14.28571429%;
  }

/* line 251 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="two-seventh"] {
    width: 28.57142858%;
  }

/* line 254 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="three-seventh"] {
    width: 42.85714287%;
  }

/* line 257 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="four-seventh"] {
    width: 57.14285716%;
  }

/* line 260 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="five-seventh"] {
    width: 71.42857145%;
  }

/* line 263 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="six-seventh"] {
    width: 85.71428574%;
  }

/* line 266 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="eighth"] {
    width: 12.5%;
  }

/* line 269 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="three-eighth"] {
    width: 37.5%;
  }

/* line 272 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="five-eighth"] {
    width: 62.5%;
  }

/* line 275 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="seven-eighth"] {
    width: 87.5%;
  }

/* line 278 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="tenth"] {
    width: 10%;
  }

/* line 281 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="three-tenth"] {
    width: 30%;
  }

/* line 284 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="four-tenth"] {
    width: 40%;
  }

/* line 287 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="sixth-tenth"] {
    width: 60%;
  }

/* line 290 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="seven-tenth"] {
    width: 70%;
  }

/* line 293 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */
  .col[larger="nine-tenth"] {
    width: 90%;
  }
}

/* line 318 : D:\github\client-portfolio\_assets\stylus\title-belt\_grid.styl */

/* line 12 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */

/* line 15 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */
button,
.button,
[type="button"],
[type="submit"],
[type="reset"] {
  display: inline-block;
  border: 0;
  padding: 0.5rem 0.8rem;
  line-height: 1.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 28 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */
button:active,
.button:active,
[type="button"]:active,
[type="submit"]:active,
[type="reset"]:active {
  background-color: #c7c7c7;
}

/* line 31 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */
button.rounded,
.button.rounded,
[type="button"].rounded,
[type="submit"].rounded,
[type="reset"].rounded {
  border-radius: 3px;
}

/* line 34 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */
button.circle,
.button.circle,
[type="button"].circle,
[type="submit"].circle,
[type="reset"].circle {
  border-radius: 100%;
  padding: 1rem;
}

/* line 40 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */

/* line 41 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */
.rounded button,
.rounded .button,
.rounded [type="button"],
.rounded [type="submit"],
.rounded [type="reset"] {
  border-radius: 3px;
}

/* line 46 : D:\github\client-portfolio\_assets\stylus\title-belt\_button.styl */

/* line 15 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */

/* line 18 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */
form,
.form {
  display: block;
  width: 100%;
  border-top: 0;
  border-left: 0;
}

/* line 26 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */
form h1,
.form h1,
form h2,
.form h2,
form h3,
.form h3,
form h4,
.form h4,
form h5,
.form h5,
form h6,
.form h6,
form .h1,
.form .h1,
form .h2,
.form .h2,
form .h3,
.form .h3,
form .h4,
.form .h4,
form .h5,
.form .h5,
form .h6,
.form .h6 {
  padding: 0.75rem;
}

/* line 41 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */
label {
  padding: 0.75rem;
  vertical-align: middle;
}

/* line 46 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */
label [type="text"],
label [type="url"],
label [type="number"],
label [type="email"],
label [type="tel"],
label select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid buttonface;
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

/* line 78 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */

/* line 79 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */
select option {
  min-height: 1rem;
  line-height: 1.5rem;
}

/* line 84 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */

/* line 85 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */
.col > label {
  display: block;
}

/* line 86 : D:\github\client-portfolio\_assets\stylus\title-belt\_form.styl */

/* line 1 : D:\github\client-portfolio\_assets\stylus\title-belt\_arrows.styl */

/* line 43 : D:\github\client-portfolio\_assets\stylus\title-belt\_arrows.styl */

/* line 2 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */

/* line 11 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
}

/* line 24 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb {
  margin: 0 auto 0;
  border: 3px solid $gray-light;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  width: 325px;
  height: 37px;
  position: relative;
  bottom: -35%;
  background-color: #212121;
  border-radius: 3px;
  overflow: hidden;
  font-family: sans-serif;
}

/* line 41 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.prev,
.yalb span.next,
.yalb span.close {
  text-decoration: none;
  color: #000;
  line-height: 100%;
  transition: all 0.2s linear;
  display: block;
  cursor: pointer;
}

/* line 53 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.prev,
.yalb span.next {
  background-color: #fff;
  padding: 0;
  font-size: 35px;
  height: 3rem;
  width: 3rem;
  z-index: 3;
  position: relative;
  vertical-align: middle;
  bottom: -50%;
  margin-top: -1.5rem;
  top: 50%;
  opacity: 0.1;
}

/* line 70 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.prev::before,
.yalb span.next::before {
  content: "";
  border: #212121 solid 10px;
  position: relative;
  display: block;
  top: 14px;
  height: 0;
  width: 0;
  border-left-width: 15px;
  border-right-width: 15px;
  border-top-width: 10px;
  border-bottom-width: 10px;
}

/* line 82 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.prev {
  background-image: linear-gradient(to right, #fff 0%, rgba(0,0,0,0)) 100%;
  left: -1px;
  float: left;
  border-radius: 0 3px 3px 0;
}

/* line 88 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.prev::before {
  right: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

/* line 94 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.next {
  background-image: linear-gradient(to left, #fff 0%, rgba(0,0,0,0)) 100%;
  right: -1px;
  float: right;
  border-radius: 3px 0 0 3px;
}

/* line 100 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.next::before {
  left: 33%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

/* line 106 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.prev:hover,
.yalb span.next:hover,
.yalb span.close:hover {
  text-shadow: 0 0 3px #000;
}

/* line 112 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.close {
  background-color: #fff;
  z-index: 4;
  position: absolute;
  border-radius: 0 3px 0 3px;
  padding: 10px;
  top: 0;
  right: 0;
  font-size: 20px;
  opacity: 0.1;
  height: 1.2rem;
  width: 1.2rem;
  text-align: center;
}

/* line 126 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.close.close::before {
  content: '\2716';
}

/* line 130 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb:hover span.close,
.yalb:hover span.prev,
.yalb:hover span.next {
  opacity: 1;
}

/* line 138 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb strong.error {
  box-sizing: border-box;
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 2px;
  padding: 0 48px;
  width: 100%;
  top: 20%;
  z-index: 1;
}

/* line 149 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb strong.error::before {
  content: 'Image could not be loaded';
}

/* line 154 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb img.image {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

/* line 165 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
.yalb span.loader {
  position: absolute;
  margin: 0 auto;
  z-index: 2;
  bottom: 50%;
  margin-bottom: -14px;
  left: 50%;
  margin-left: -10px;
  display: block;
  border: 3px solid rgba(200,200,200,0.8);
  animation: loading 1.1s infinite linear;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

/* line 181 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
@-moz-keyframes loading {

/* line 182 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
  50% {
    height: 10px;
    width: 10px;
    margin-bottom: -7px;
    margin-left: -5px;
  }
}

/* line 181 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
@-webkit-keyframes loading {

/* line 182 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
  50% {
    height: 10px;
    width: 10px;
    margin-bottom: -7px;
    margin-left: -5px;
  }
}

/* line 181 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
@-o-keyframes loading {

/* line 182 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
  50% {
    height: 10px;
    width: 10px;
    margin-bottom: -7px;
    margin-left: -5px;
  }
}

/* line 181 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
@keyframes loading {

/* line 182 : D:\github\client-portfolio\_assets\stylus\jquery.yalb\yalb.styl */
  50% {
    height: 10px;
    width: 10px;
    margin-bottom: -7px;
    margin-left: -5px;
  }
}

/* line 18 : D:\github\client-portfolio\_assets\stylus\main.styl */
.hidden {
  display: none;
}

/* line 33 : D:\github\client-portfolio\_assets\stylus\main.styl */
html {
  background-color: #fff;
  font-family: sans-serif;
  box-sizing: inherit;
}

/* line 39 : D:\github\client-portfolio\_assets\stylus\main.styl */

/* line 40 : D:\github\client-portfolio\_assets\stylus\main.styl */
a,
a:link {
  color: #212121;
  text-decoration: none;
  transition: all 0.2s linear;
}

/* line 45 : D:\github\client-portfolio\_assets\stylus\main.styl */
a:visited {
  color: #212121;
}

/* line 47 : D:\github\client-portfolio\_assets\stylus\main.styl */
a:hover {
  color: #8d1818;
}

/* line 49 : D:\github\client-portfolio\_assets\stylus\main.styl */
a:active {
  color: #212121;
}

/* line 59 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-header {
  padding-top: 1rem;
  padding-bottom: 60px;
}

/* line 68 : D:\github\client-portfolio\_assets\stylus\main.styl */
.site-logo {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  display: block;
  fill: #fff;
  color: #fff;
}

/* line 83 : D:\github\client-portfolio\_assets\stylus\main.styl */
.site-logo:hover {
  fill: #fff;
  color: #fff;
}

/* line 87 : D:\github\client-portfolio\_assets\stylus\main.styl */
.site-logo path {
  transition: all 0.2s linear;
  fill: #fff;
  color: #fff;
}

/* line 93 : D:\github\client-portfolio\_assets\stylus\main.styl */
.site-logo svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: #fff;
  color: #fff;
}

/* line 105 : D:\github\client-portfolio\_assets\stylus\main.styl */
.nav-list-container {
  margin: 0;
  padding: 0;
  font-size: 0;
  border-bottom: 1px solid #212121;
}

/* line 111 : D:\github\client-portfolio\_assets\stylus\main.styl */
.nav-list-container li {
  display: inline-block;
  font-size: initial;
}

/* line 115 : D:\github\client-portfolio\_assets\stylus\main.styl */
.nav-list-container li a {
  display: block;
  position: relative;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

/* line 125 : D:\github\client-portfolio\_assets\stylus\main.styl */

/* line 127 : D:\github\client-portfolio\_assets\stylus\main.styl */
.site-nav ul {
  text-align: center;
}

/* line 136 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-nav {
  background-color: #212121;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

/* line 142 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-nav.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

/* line 149 : D:\github\client-portfolio\_assets\stylus\main.styl */

/* line 150 : D:\github\client-portfolio\_assets\stylus\main.styl */

/* line 151 : D:\github\client-portfolio\_assets\stylus\main.styl */

/* line 152 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-nav ul li a::before {
  content: "";
  display: block;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s linear;
  border-bottom: 0 solid #8d1818;
}

/* line 163 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-nav ul li a.active,
.page-nav ul li a:hover {
  background-color: rgba(255,255,255,0.04);
}

/* line 167 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-nav ul li a.active::before,
.page-nav ul li a:hover::before {
  border-bottom-width: 3px;
}

/* line 176 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-content {
  padding: 0.5rem;
}

/* line 185 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-footer {
  text-align: center;
  padding: 1rem;
  color: #212121;
}

/* line 190 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-footer a {
  color: #949490;
}

/* line 193 : D:\github\client-portfolio\_assets\stylus\main.styl */
.page-footer a:hover {
  color: #fff;
}

/* line 198 : D:\github\client-portfolio\_assets\stylus\main.styl */
[data-action="back-to-top"] {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
}

/* line 208 : D:\github\client-portfolio\_assets\stylus\main.styl */
[data-action="back-to-top"]::after {
  content: "";
  border: 10px #fff solid;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.9rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-left-width: 8px;
  border-right-width: 8px;
}

/* line 230 : D:\github\client-portfolio\_assets\stylus\main.styl */
.project-category {
  margin-bottom: 2rem;
}

/* line 234 : D:\github\client-portfolio\_assets\stylus\main.styl */
.category-title {
  padding: 0.75rem 0.5rem 0.5rem;
  color: #212121;
  font-size: 1.7rem;
  font-weight: initial;
}

/* line 240 : D:\github\client-portfolio\_assets\stylus\main.styl */
.category-title span {
  display: block;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid #8d1818;
}

/* line 251 : D:\github\client-portfolio\_assets\stylus\main.styl */
.project-listing {
  padding: 0.5rem;
  overflow: hidden;
}

/* line 256 : D:\github\client-portfolio\_assets\stylus\main.styl */
.project-listing-content {
  border-radius: 3px;
  overflow: hidden;
}

/* line 260 : D:\github\client-portfolio\_assets\stylus\main.styl */
.project-listing-content:hover {
  cursor: pointer;
}

/* line 264 : D:\github\client-portfolio\_assets\stylus\main.styl */
.project-image-container {
  height: 250px;
  padding: 0;
  overflow: hidden;
  box-shadow: inset 0 0 1rem rgba(0,0,0,0.4);
}

/* line 270 : D:\github\client-portfolio\_assets\stylus\main.styl */
.project-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

/* line 277 : D:\github\client-portfolio\_assets\stylus\main.styl */
.project-title {
  background-color: #212121;
  margin: 0;
  padding: 0.75rem 1rem;
  color: #212121;
  font-size: 1.25rem;
  font-weight: normal;
}
